# **08Ïû• Ïó∞ÏäµÎ¨∏Ï†ú**

1Î≤à

In [ ]:
import matplotlib.pyplot as plt

year = [2006, 2009, 2012, 2015, 2018]
kor = [547, 546, 554, 524, 526]
#ÏÑ†Í∑∏ÎûòÌîÑ
#Í∑∏ÎûòÌîÑ Ï∂úÎ†•

In [ ]:
import matplotlib.pyplot as plt

year = ['2006', '2009', '2012', '2015', '2018']
kor = [547, 546, 554, 524, 526]
#ÎßâÎåÄÍ∑∏ÎûòÌîÑ
plt.show()

In [ ]:
import matplotlib.pyplot as plt

kor = [547, 546, 554, 524, 526]
usa = [474, 487, 481, 470, 478]
#ÏÇ∞Ï†êÎèÑÍ∑∏ÎûòÌîÑ
plt.show()

In [ ]:
import matplotlib.pyplot as plt

score = [547,546,554,524,526,474,487,481,470,478,523,529,536,532,527]
#ÌûàÏä§ÌÜ†Í∑∏Îû®
plt.show()

In [ ]:
import matplotlib.pyplot as plt

x = [2009, 2012, 2015]
y = [529, 536, 532]
plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

x = [2006, 2009, 2012, 2015]
y = [523, 529, 536, 532]
plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

x = ['a', 'b', 'c']
y = [7, 5, 4]
plt.bar(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

year = [2006, 2009, 2012, 2015, 2018]
kor = [547, 546, 554, 524, 526]
plt.plot(year, kor)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

year = [2006, 2009, 2012, 2015, 2018]
kor = [547, 546, 554, 524, 526]
usa = [474, 487, 481, 470, 478]
# year kor Í∑∏ÎûòÌîÑ
# year usa Í∑∏ÎûòÌîÑ
plt.show()

In [ ]:
import matplotlib.pyplot as plt

year = [2006, 2009, 2012, 2015, 2018]
kor = [547, 546, 554, 524, 526]
usa = [474, 487, 481, 470, 478]
jpn = [523, 529, 536, 532, 527]

# Í∑∏ÎûòÌîÑÍ∞Ä Í∞ÄÎ°úÏôÄ ÏÑ∏Î°ú ÌÅ¨Í∏∞Î•º Í∞ÅÍ∞Å 5Ïù∏ÏπòÏôÄ 3Ïù∏Ïπò ÌÅ¨Í∏∞ ÏÑ§Ï†ï
# year Îç∞Ïù¥ÌÑ∞Î•º xÏ∂ïÏúºÎ°ú, kor Îç∞Ïù¥ÌÑ∞Î•º yÏ∂ïÏúºÎ°ú ÌïòÏó¨ Îπ®Í∞ÑÏÉâ Ï†êÏÑ†ÏúºÎ°ú ÏÑ† Í∑∏ÎûòÌîÑÎ•º Í∑∏Î¶¨Í≥† Î≤îÎ°ÄÏóê 'Korea'ÎùºÍ≥† ÌëúÏãú
plt.plot(year, usa, 'b:', ) #Î≤îÎ°ÄÏóê 'Korea'ÎùºÍ≥† ÌëúÏãú
plt.plot(year, jpn, 'g-', label='Japan')
plt.ylim(400, 600)  # yÏ∂ï Î≤îÏúÑ ÏÑ§Ï†ï
# Í∑∏ÎûòÌîÑÏóê Î≤îÎ°ÄÎ•º Ï∂îÍ∞Ä
# Í∑∏ÎûòÌîÑ Ï†úÎ™©ÏùÑ 'Mathematics performance'Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
plt.xlabel('year')
plt.ylabel('score')
plt.show()

In [ ]:
import matplotlib.pyplot as plt

notebook = {'g‚óã‚óã':150,'t‚óã‚óã':100,'m‚óã‚óã':160,'s‚óã‚óã':170}

plt.figure(figsize=(5,3))
# ÎßâÎåÄ Í∑∏ÎûòÌîÑÏùò xÏ∂ïÏùÄ ÎîïÏÖîÎÑàÎ¶¨Ïùò ÌÇ§(Ï†úÌíàÏù¥Î¶Ñ)Î•º ÏÇ¨Ïö©ÌïòÍ≥†, ÎßâÎåÄ Í∑∏ÎûòÌîÑÏùò YÏ∂ïÏùÄ ÎîïÏÖîÎÑàÎ¶¨Ïùò Í∞í(Í∞ÄÍ≤©)ÏùÑ ÏÇ¨Ïö©ÌïòÍ≥†, Í∞Å ÎßâÎåÄÏùò ÎÑàÎπÑÎ•º 0.7 Îã®ÏúÑÎ°ú ÏÑ§Ï†ï
plt.xlabel('product name')
plt.ylabel('price')
plt.show()

In [ ]:
import matplotlib.pyplot as plt

year = [2000, 2005, 2010, 2015, 2020]
single_person = [15.5, 20.0, 23.9, 27.2, 31.7]
baby_born = [640089, 438707, 470171, 438420, 272337]

plt.figure(figsize=(5,3))
 # 1Ïù∏ Í∞ÄÍµ¨ ÎπÑÏú®(single_person)Í≥º Ï∂úÏÉùÏïÑ Ïàò(baby_born) ÏÇ¨Ïù¥Ïùò Í¥ÄÍ≥ÑÎ•º ÎÇòÌÉÄÎÇ¥Îäî ÏÇ∞Ï†êÎèÑÎ•º Í∑∏Î¶ΩÎãàÎã§.
for i in range(len(year)):
  plt.annotate(year[i],xy=(single_person[i], baby_born[i]),xytext=(5,-10),textcoords='offset points') #Í∞Å Ïó∞ÎèÑÏóê Ìï¥ÎãπÌïòÎäî Îç∞Ïù¥ÌÑ∞ ÏßÄÏ†ê ÏòÜÏóê Ìï¥Îãπ Ïó∞ÎèÑÎ•º ÌëúÏãúÌïòÎäî Ï£ºÏÑùÏùÑ Ï∂îÍ∞Ä
plt.xlim(14,35)
plt.ylim(230000,700000)
plt.xlabel('single-person household ratio')
plt.ylabel('the number of babies born')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import random

x = [random.randint(1,100) for i in range(1000)]

plt.figure(figsize=(5,3))
# Îç∞Ïù¥ÌÑ∞ Î∞∞Ïó¥ xÎ•º 20Í∞úÏùò Íµ¨Í∞ÑÏúºÎ°ú ÎÇòÎàÑÍ≥† 50% Ìà¨Î™ÖÎèÑÎ°ú ÌëúÏãúÌïòÎäî ÎπàÎèÑ Î∂ÑÌè¨ Í∑∏ÎûòÌîÑÎ•º ÏÉùÏÑ±
plt.ylabel('frequency')
plt.show()

In [ ]:
import matplotlib.pyplot as plt

exercise ={'climbing':0,'soccer':0,'swimming':0,'tennis':0}

print('Ï¢ãÏïÑÌïòÎäî Ïö¥ÎèôÏùÑ ÏûÖÎ†•ÌïòÏÑ∏Ïöî.')
print('Î≥µÏàò Í∞úÏùò Ïö¥ÎèôÏùÑ ÏûÖÎ†•ÌïòÎ†§Î©¥ ÏΩ§ÎßàÎ°ú Íµ¨Î∂ÑÌïòÏÑ∏Ïöî.')

while True:
  s = input('climbing,soccer,swimming,tennis,Ï¢ÖÎ£å: ')
  if s=='Ï¢ÖÎ£å':
    break
  for a in s.split(','):
    if a in exercise:
      # Ìï¥Îãπ Ïö¥ÎèôÏùò Ïπ¥Ïö¥Ìä∏Î•º 1 Ï¶ùÍ∞ÄÏãúÌÇ§Îäî Ïó∞ÏÇ∞
    else:
      print(f'{a}Îäî Îì±Î°ùÎêòÏßÄ ÏïäÏùÄ Ïö¥ÎèôÏûÖÎãàÎã§.')

plt.figure(figsize=(5.5,3))
plt.bar(exercise.keys(), exercise.values(), color='g', width=0.6)
#plt.xticks(rotation='vertical')
plt.xlabel('exercise')
plt.ylabel('frequency')
plt.show()

In [ ]:
#eÎç∞Ïù¥ÌÑ∞Ìè¨Ïù∏Ìä∏Ïóê Í∞íÌëúÏãúÌïòÎäîÎ≤ï
#Îç∞Ïù¥ÌÑ∞Îäî ÏõîÎ≥ÑÍ∞ïÏàòÎüâ Îç∞Ïù¥ÌÑ∞,
#iÏóê Í∞íÏùÑ Í≥ÑÏÜç ÎÑ£Ïñ¥ÏÑú, textÎùºÎäî Î©îÏÑúÎìú ÏÇ¨Ïö©
#xÎäî Ïù∏Îç±Ïä§Í∞í(i), y=value+10ÏúºÎ°ú Ïôú? yÏ¢åÌëúÍ∞íÏùÑ Îç∞Ïù¥ÌÑ∞Ìè¨Ïù∏Ìä∏ ÏúÑÎ°ú ÎëêÏñ¥ÏÑú Í∞ÄÎèÖÏÑ± Ï¶ùÍ∞Ä

#ÏãúÍ∞ÅÌôîÎ•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞Îäî Î¨∏ÏûêÌòïÏù¥Ïñ¥Ïïº plt.textÏÇ¨Ïö©Í∞ÄÎä•
#Í∑∏ÎûòÏÑúvalueÍ∞íÏùÑ str(value)ÌòïÏãùÏúºÎ°úÌïòÎäîÍ±∞, ha, vaÎäî ÏúÑÏπò Ï§ëÏïôÏ†ïÎ†¨, ÌïòÏúÑÏ†ïÎ†¨

plt.figure(figsize=(12,6))
for i value in enumerate(rainfall):
  plt.text(i, value+ 10, str(value), ha='center', va='bottom)')

In [4]:
#numpy
#Î¶¨Ïä§Ìä∏=Î∞∞Ïó¥
#pip install numpy
import numpy as np

a = np.array([1, 2, 3])
print(a)
b = np.array([[1, 2], [3, 4]])
print(b)
type(a)
print(np.zeros((2, 3))) #0ÏúºÎ°ú Ïù¥Î§ÑÏßÑ 2Ï∞®ÏõêÎ∞∞Ïó¥
print(np.ones(5))            # Í∏∏Ïù¥ 5Ïùò 1 Î∞∞Ïó¥
print(np.arange(0, 10, 2))   # 0Î∂ÄÌÑ∞ 10ÍπåÏßÄ 2Ïî© Ï¶ùÍ∞Ä
print(np.linspace(0, 1, 5))  # 0~1 ÏÇ¨Ïù¥Î•º 5Í∞úÎ°ú ÎÇòÎàà Î∞∞Ïó¥
print(np.random.rand(3))     # 0~1 ÏÇ¨Ïù¥Ïùò ÎÇúÏàò 3Í∞ú
#Ï≤´Î≤àÏß∏Í¥ÑÌò∏Í∞Ä Ìñâ, 2Ìñâ 3Ïó¥Ïù¥Î©¥ [1,2,3], [4,5,6]Ïù¥Îü∞ÏãùÏùºÍ≤É

#2Ï∞®ÏõêÎ∞∞Ïó¥Ïù∏Îç±Ïã±? ÌäπÏ†ÄÏúÑÏπòÏùò Í∞íÏùÑ ÏàòÏ†ï Ï†ëÍ∑ºÌïòÎäî Î≤ï
matrix = np.array([[1, 2], [3, 4], [5, 6]])

print(matrix[0, 1])      # Ï≤´ Î≤àÏß∏ Ìñâ, Îëê Î≤àÏß∏ Ïó¥
print(matrix[1:])        # Îëê Î≤àÏß∏ Ìñâ Ïù¥ÌõÑ Î™®Îëê

#Ï°∞Í±¥Î∂ÄÏÑ†ÌÉù
arr = np.array([10, 20, 30, 40, 50])

print(arr[arr > 30])  # 30Î≥¥Îã§ ÌÅ∞ ÏöîÏÜåÎßå

[1 2 3]
[[1 2]
 [3 4]]
[[0. 0. 0.]
 [0. 0. 0.]]

In [6]:
#1Ï∞®Ïõê Î∞∞Ïó¥, 5Í∞úÏùò ÏöîÏÜå, 0ÏúºÎ°ú Ï¥àÍ∏∞ÌôîÎêú Î∞∞Ïó¥
#1Ï§Ñ,
arr = np.zeros(5)

array([0., 0., 0., 0., 0.])

 Î¨∏Ï†ú 2: 1Î∂ÄÌÑ∞ 10ÍπåÏßÄÏùò Ïà´Ïûê Ï§ë ÏßùÏàòÎßå Ìè¨Ìï®ÌïòÎäî Î∞∞Ïó¥ÏùÑ ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.
üìù Î¨∏Ï†ú 3: [2, 4, 6] Î∞∞Ïó¥Í≥º [10, 20, 30] Î∞∞Ïó¥ÏùÑ Í∞ÅÍ∞Å ÏÉùÏÑ±ÌïòÍ≥†, Í≥±ÏÖà Ïó∞ÏÇ∞ÏùÑ ÏàòÌñâÌïú Í≤∞Í≥ºÎ•º Ï∂úÎ†•ÌïòÏÑ∏Ïöî.
üìù Î¨∏Ï†ú 4: ÏúÑ Î∞∞Ïó¥ÏóêÏÑú 20Î≥¥Îã§ ÌÅ∞ ÏöîÏÜåÎßå ÌïÑÌÑ∞ÎßÅÌï¥ÏÑú Ï∂úÎ†•ÌïòÏÑ∏Ïöî.

In [11]:
#2
a = np.arange(2, 11, 2)
print(a)

[ 2  4  6  8 10]

In [14]:
#3
a = np.array([2,4,6])
b= np.array([10,20,30])
result = a*b
print(result)
#4
print(result[result>20])

[ 20  80 180]
[ 80 180]

In [23]:

import pandas as pd
data = {
    'Ïù¥Î¶Ñ': ['ÌôçÍ∏∏Îèô', 'ÍπÄÏ≤†Ïàò', 'Ïù¥ÏòÅÌù¨'],
    'ÎÇòÏù¥': [25, 30, 27],
    'ÏÑ±Î≥Ñ': ['ÎÇ®', 'ÎÇ®', 'Ïó¨']
}

df = pd.DataFrame(data)
df.tail()

    Ïù¥Î¶Ñ  ÎÇòÏù¥ ÏÑ±Î≥Ñ
0  ÌôçÍ∏∏Îèô  25  ÎÇ®
1  ÍπÄÏ≤†Ïàò  30  ÎÇ®
2  Ïù¥ÏòÅÌù¨  27  Ïó¨

In [27]:
df= pd.read_csv('tested.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [31]:
df[df['Age']>25]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
407,1299,0,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S

In [40]:
df.dropna(axis=0, inplace=True) # Change 0 to axis=0
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
26,918,1,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
28,920,0,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
...,...,...,...,...,...,...,...,...,...,...,...,...
404,1296,0,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,0,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
407,1299,0,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C

In [43]:
#df.groupby('Í∑∏Î£πÌôîÌï† Ïó¥')[ÎåÄÏÉÅ Ïó¥].ÏßëÍ≥ÑÌï®Ïàò()
#Í∑∏Î£πÌôîÏùò Í∏∞Ï§ÄÏúºÎ°ú ÎåÄÏÉÅÏó¥ÏùÑ Ï†ïÎ¶¨
df.groupby('Sex')['Age'].mean()

Sex
female    39.590909
male      38.895349
Name: Age, dtype: float64